name: Build Docker images and deploy to Coolify

on:
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io

jobs:
  build-app:
    permissions:
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Lowercase repository name
        run: echo "REPO=${GITHUB_REPOSITORY@L}" >> ${GITHUB_ENV}

      - name: Build
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.REPO }}--app:latest
  
  deploy-production:
    runs-on: ubuntu-latest
    needs: 
      - build-app
    steps:
      - name: Deploy to Coolify
        run: |
          curl --request GET \
          --url '${{ secrets.COOLIFY_WEBHOOK }}' \
          --header 'Authorization: Bearer ${{ secrets.COOLIFY_TOKEN }}' \
          --fail